@import "../mixins.scss";
.App {
  &.bold {
    $primary-color: #911806;
    $primary-light: #d6adb6;
    $primary-very-light: #fff5f5;
    @include theme($primary-color, $primary-light, $primary-very-light);
  }
}
