@import "../variables.scss";
.App {
  &.relative {
    .chat {
      .nav-bar {
        width: 100%;
        max-width: 800px;
        position: relative;
        clear: both;
      }
      .app-tabs {
        position: relative;
        bottom: 0;
        float: left;

        .app-tab {
          height: 500px;
          width: 80%;
          max-width: 800px;
          position: relative;
          float: right;
          bottom:0;
          @include media-max($layout-breakpoint-sm) {
            width: 100%;
          }
          &.channel-tab {
            .tab-messages .message-input input {
              width: 85%;
            }

            .tab-header {
              .header-actions-btns {
                display: none;
              }
            }

            @include media-max($layout-breakpoint-sm) {
              display: block;
              .tab-messages .message-input {
                padding-bottom: 60px;
                input {
                  width: 70%;
                }
              }
            }
          }
          &.user-tab {
            .user-img {
              height: 200px;
              width: 200px;
            }
            #username {
              width: 74%;
            }
          }
          &.users-list-tab {
            width: 20%;
            @include media-max($layout-breakpoint-sm) {
              width: 0%;
            }
          }
        }
      }
    }
  }
}