
#root-aoxie43dhjf456fkloia39 {
  @import "./../css/variables.scss";
  @import "./../css/themes/dark.scss";
  @import "./../css/themes/default.scss";

  .App {
    font-family: 'Roboto', sans-serif, Arial;
    h1, h2, h3, h4, h5, h6 {
      margin: 0px;
      font-weight: normal;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    button {
      font-family: 'Roboto', sans-serif, Arial;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #b1b1b1;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #b1b1b1;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #b1b1b1;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #b1b1b1;
    }
  }

  .chat {
    .nav-bar {
      position: fixed;
      width: 100%;
      bottom: 0;
      height: 70px;
      border-top: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
      background-color: #fff;
      .pinned-tabs-container {
        padding-right: 10px;
        display: flex;
        float: left;
        border-right: 1px solid #9e9e9e8a;
        margin-right: 10px;
      }
      .nav-btn-container {
        position: relative;
        float: left;
        .nav-btn {
          float: left;
          height: 40px;
          min-width: 80px;
          border-radius: 3px;
          border: 1px solid #3F51B5;
          padding: 0px 10px 0px 10px;
          margin: 5px 5px 10px 5px;
          background-color: #ffffff;
          color: $primary-color;
          font-size: 15px;
          cursor: pointer;
          outline: 0;
          &.active {
            background-color: $primary-color;
            color: #fff;
          }
          &:hover {
            color: #ffffff;
            background-color: $primary-color;
          }
          .hashtag {
            color: #d7dbf9;
            font-size: 14px;
            vertical-align: middle;
          }
        }
        .unread-indicator {
          position: absolute;
          right: 10px;
          height: 8px;
          width: 8px;
          background-color: #76c139;
          border-radius: 50%;
          top: 10px;
        }
      }
    }

    .app-tab {
      z-index: 2;
      background-color: #ffffff;
      height: 450px;
      width: 400px;
      position: fixed;
      float: right;
      bottom: 69px;
      -webkit-box-shadow: inset 0px 1px 2px 0px rgba(204, 204, 204, 0.9);
      box-shadow: inset 0px 1px 2px 0px rgba(204, 204, 204, 0.9);
      border-bottom: 0px;
      border-radius: 5px 5px 0px 0px;
      overflow: hidden;
      outline: 0;

      @include media-max($layout-breakpoint-sm) {
        left: 0;
        top:0;
        width: 100%;
        height: auto;
      }

      .tab-header {
        background-color: $primary-color;
        color: #fff;
        padding: 15px;
        height: 20px;
        .tab-title {
          font-size: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          float: left;
        }
        .header-actions-btns {
          float: right;
          width: 56px;
          .btn {
            outline: 0;
            height: 20px;
            width: 27px;
            padding: 0px;
            background: transparent;
            border: none;
            font-size: 18px;
            color: #fff;
            float: right;
            cursor: pointer;
          }
        }
      }

      &.channel-tab {
        display: flex;
        flex-direction: column;

        &.active {
          .tab-header {
            background-color: $primary-color;
          }
        }
        &.collapsed {
          display: none;
        }
        .tab-header {
          .tab-users {
            padding-top: 5px;
            font-size: 12px;
            height: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .tab-messages {
          height: 100%;
          display: flex;
          flex-direction: column;
          background-color: #fdfdfd;
          overflow: hidden;
          -webkit-box-shadow: inset 0px 2px 2px 0px rgba(204, 204, 204, 0.90);
          -moz-box-shadow: inset 0px 2px 2px 0px rgba(204, 204, 204, 0.90);
          box-shadow: inset 0px 2px 2px 0px rgba(204, 204, 204, 0.90);
          .messages {
            flex-grow: 10;
            list-style: none;
            font-size: 15px;
            margin: 0;
            overflow-y: scroll;
            padding: 10px 15px 0px 15px;
            .msg-row {
              display: flex;
              .msg-content {
                line-height: 20px;
                min-height: 20px;
                max-width: 300px;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: #e4e1e1;
              }

              &.me {
                justify-content: flex-end;
                .msg-content {
                  background-color: $primary-light;
                }
              }
              a {
                cursor: pointer;
              }
              .username {
                display: block;
                font-weight: bold;
                font-size: 14px;

                &.me {
                  color: #4e4b4b;
                }

                color: $primary-color;
              }
            }
          }
          .message-input {
            flex: 1;
            bottom: 0;
            width: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
            background-color: #dfe5eb;
            z-index: 1;
            align-self: flex-end;

            input {
              height: 43px;
              width: 295px;
              border: 0;
              background-color: #ffffff;
              border-radius: 30px;
              outline: 0;
              padding-left: 25px;
              padding-right: 25px;
              margin-left: 10px;
              margin-right: 10px;
              font-size: 14px;
              box-sizing: border-box;

              @include media-max($layout-breakpoint-sm) {
                left: 0;
                width: 70%;
              }
            }
            button {
              background-color: transparent;
              border: 0px;
              outline: 0;

              span {
                color: #3d4ebc;
                font-size: 24px;
                cursor: pointer;
                vertical-align: middle;
              }
            }
          }
          .emojis-list {
            outline: 0;
            min-height: 0px;
            height: 0px;
            opacity: 0;
            overflow: hidden;
            -ms-flex: 0 0;
            background-color: #efefef;
            flex: 0 0;
            transition: all .25s ease;

            .list-container {
              .emoji-mart {
                width: 100% !important;
                .emoji-mart-search {
                  display: none;
                }
                .emoji-mart-category-label {
                  position: relative;
                  span {
                    display: block;
                    width: 100%;
                    padding: 5px 6px;
                    background-color: #fff;
                    background-color: rgba(255, 255, 255, .95);
                    font-size: 14px;
                    color: #b1b1b1;
                    font-weight: normal;
                  }
                }
              }
              .emoji-li {
                float: left;
                font-size: 24px;
                width: 25px;
                margin: 5px;
                cursor: pointer;
              }
            }
            &.open {
              min-height: 180px;
              height: 180px;
              opacity: 1;
              position: relative;
            }
          }
        }
      }
      &.user-tab {
        background-color: #f3f4ff;
        .user-img {
          height: 200px;
          width: 200px;
          display: block;
          border-radius: 50%;
          margin: 60px auto;
        }

        #username {
          height: 50px;
          width: 250px;
          border-radius: 30px;
          border: 1px solid #ecebeb;
          padding: 5px 15px;
          font-size: 16px;
          box-sizing: border-box;
          margin-left: 45px;
          outline: 0;
        }
        button {
          background-color: #3d4ebc;
          border: 0px;
          outline: 0;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin-left: 15px;
          cursor: pointer;

          span {
            color: #fff;
            font-size: 19px;
          }
        }

      }
    }
  }


}
